body {
	margin: 0 auto;
	padding: 0;
	background: #fff;
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}
img {
	border: 0;
}
#top-bar{
    background:#000; 
    padding:15px 0;
    margin:0;
	@media (max-width: 768px) { 
		display: none;
	}
    p{
        font-size:13px; 
        color:#fff;
        padding:0;
        margin:0;
        text-transform: uppercase;
    }
    ul{
        margin:0;
        padding:0;
    }
    ul li{
        font-size:13px; 
        list-style: none;
        float: left;
        color:#a4a4a4;
        padding-right: 40px;
		
        &:last-child{
            padding-right:0;
        }
		
        span{padding-left:30px;}
        a{
            color:#fff;
			
            svg{padding-right:3px;}
            &:hover{color:#a4a4a4;}
        }
        
        
    }
}
.navbar-expand-lg {
    font-size:13px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    
	.navbar-collapse {
		// display: inline-block  !important;
        ul li{
            padding:0 10px;
            a{
                color:#000;
            }
            a:hover{color:#d21d1d;}
            a.active{color:#d21d1d;}
            .dropdown-item{font-size:13px;}
        }
	}
}

.carousel-fade {
	.carousel-item {
		opacity: 0;
		transition-duration: .6s;
		transition-property: opacity;
	}
	.carousel-item.active {
		opacity: 1;
		transform: translateX(0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-item-next.carousel-item-left {
		opacity: 1;
	}
	.carousel-item-prev.carousel-item-right {
		opacity: 1;
	}
	.active.carousel-item-left {
		opacity: 0;
		transform: translateX(0);
		transform: translate3d(0, 0, 0);
	}
	.active.carousel-item-right {
		opacity: 0;
	}
	.carousel-item-next {
		transform: translateX(0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-item-prev {
		transform: translateX(0);
		transform: translate3d(0, 0, 0);
	}
	.active.carousel-item-prev {
		transform: translateX(0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-indicators li{height:11px; 
		width:11px;
		border-radius:50%;
		background:none;
		border:2px solid #fff;
		&.active{
			border:0;
			background:#c60d0d;
		}
	}
}

@media (max-width: 992px) {
	.navbar-collapse {
		position: fixed;
		top: 50px;
		left: 0;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		width: 75%;
		height: 100%;
	}
	.navbar-collapse.collapsing {
		left: -75%;
		transition: height 0s ease;
	}
	.navbar-collapse.show {
		left: 0;
		transition: left 300ms ease-in-out;
		background: #fff;
		z-index: 99;
		top: 42px;
	}
	
}
#search-bar{
	background:#000;
	padding:5px;
	margin:0;
	.search-box{
		background:#fff;
		.form-control{
			background:none;
			border:0; 
			outline:none;
			font-size:13px; 
			color:#000;
		}
		.col-2{padding: 7px 28px;
			text-align: right;
			a{color:#000;}
		}
	}
}
@media (max-width: 768px) {
	.navbar-toggler {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-brand {
		position: absolute;
		left: 65px;
	}
	ul.top-nav {
		li {
			&:first-child {
				display: none;
			}
			float: left;
			display: inline-block;
			font-family: 'Raleway', sans-serif;
			padding-left: 5px;
			span {
				color: #000;
			}
			a {
				color: #000;
			}
		}
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#responsive-nav {
		width: 53%;
	}
}
