@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
        background: #fff;
        z-index: 99;
        top: 42px;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}

@media (max-width: 768px) { 
    .navbar-toggler{padding-left:0; padding-right:0;}
    .navbar-brand{position:absolute; left:65px;}
    ul.top-nav li:first-child{display: none;}
    #responsive-nav{width:53%;}
    ul.top-nav{width:100%; margin:0; padding:0;}
    ul.top-nav li{ float: left; display: inline-block; font-family: 'Raleway', sans-serif; padding-left:5px;}
    ul.top-nav li span{color:#000;}
    ul.top-nav li a{color:#000;}
}