body{margin:0 auto; padding:0; background: #fff; font-family: Arial, Helvetica, sans-serif; overflow-x: hidden;}
a, a:hover, a:active, a:visited, a:focus{text-decoration:none;}
img{border:0;}

.main-box{width:100%; height:auto;}
.top-bar{background:#5e6769; padding:10px; margin:0; clear: both; height: 50px;}
.term-box{float:left; height:30px; margin-right:30px; background:#545454; padding:10px; color:#fff; width:110px; border-radius:10px; font-size:20px; font-weight: bold;}
.term-box img{padding-right:6px}
.term-box span{vertical-align: super; line-height: 30px;}
.by-data-box{padding-top:6px; float:left; margin-right:17px;}
.version-box{color:#fff; text-transform: uppercase; font-size:14px; line-height: 22px;}

.main-content{ display: table; width: 100%; }
/********** left sidebar starts here ***********/
.left-sidebar{width:3%; text-align: center; background:#212930; padding:80px 25px 0 25px; display: table-cell; position: relative;}
ul.left-side-nav{margin:0; padding:0;}
ul.left-side-nav li{list-style: none; line-height:40px;}
.left-side-footer{position: absolute; bottom:0; text-align: center;}
/*********** right side content starts here *****************/
.right-sidebox{width:95%; display: table-cell; vertical-align: top;}
.project-breadcrum{background:#3a3e44; padding:25px 35px; margin:0; width:94.4%;}
ul.breadcrum{margin:0; padding:0; display: inline-block;}
ul.breadcrum li{list-style:none; float: left; text-transform: uppercase; color:#fff; font-size:18px; line-height: 0;}
ul.breadcrum li a{color:#fff;}
ul.breadcrum li::before { content: "\25AA"; color: #2ef635; font-weight: bold;display: inline-block;  width: 0.8em; font-size:24px; margin-left: -1em;}
ul.breadcrum li.active::before{display: none;}
.create-profile{    float: right; margin-top: -20px;}

/*************** form starts here ***********/
.profile-form-box{width:100%; display: table;}
.left-side-form{width:65%;  display: table-cell; background:#000; padding:40px 35px 0 40px; margin:0; position:relative}
.upload-photo-box{float:left; width:22%;}
.image-upload>input {display: none;}
.upload-photo-footer{position:absolute; bottom:0; margin: 0 auto; text-align: center;}
.upload-photo-footer a{display:inline-block; color:#fff; font-size:14px; text-transform: uppercase; border-radius: 5px; border:1px solid #fff; padding:10px; margin-bottom:10px;}
.form-box-content{float:left; padding-left:30px; width: 74%;}
.form-row{width:100%; clear: both; display: block; height: 75px;}
.col-3-form{width:31%; padding-right:15px; float:left;  position: relative;}
.col-2-form{width:25%; padding-right:15px; float:left;  position: relative;}
.col-1-form{width:22%; padding-right:15px; float:left;  position: relative;}
.col-9-form{width:46%; padding-right:0px; float:left;  position: relative;}
.col-12-form{width:100%; padding-right:0px; float:left;  position: relative;}
.col-6-form{width:48%; padding-right:15px; float:left;  position: relative;}
.form-row .col-3-form:last-child, .form-row .col-6-form:last-child{padding-right:0;}
.form-control{background: none; margin-bottom:40px; border:1px solid #fff; color:#fff; font-size:15px; box-shadow: none; border-radius:10px; width:100%; padding:15px; margin-top:10px;}
.form-control:focus{box-shadow: none; outline:none;}
select.form-control{background: url(../images/down-arrow.png) 96% center no-repeat; box-shadow: none; color: #fff; border: 1px solid #fff;-webkit-appearance: none; -moz-appearance: none;}
.form-label{color: #464646; font-size: 16px; font-weight: bold; padding-left: 10px; padding-right: 10px; position: absolute; height: 10px; top: 1px; background: #000; left: 19px;}
.small-box .form-label{background: #151515;}
.form-heading-green{background:#062508; margin:0 0 20px 0; padding:10px 15px; color:#fff; font-size:22px; font-weight: bold; border-radius: 5px; border-bottom:2px solid #29f887;}
p.sub-heading{margin-bottom: 0;}
.sub-heading span{background: #fff; padding: 6px 9px;  border-radius: 5px;  margin-right: 10px; vertical-align: top; line-height: 33px; font-size: 18px;}
.grey-box{background: #151515; padding:15px; margin-top: -4px; position: relative; z-index: 99;}

/******************* insights starts here *******************/
.right-side-insights{background: #323232; padding:0; margin:0; width: 29%; display: table-cell; vertical-align:top; position:relative;}
.insights-heading{background:#666; padding:10px 25px; color:#fff; font-size:18px; font-weight: bold;}
.insights-heading span{display: inline-block; margin-left: 10px;}
.insights-heading select.form-control{background: url(../images/down-arrow-white.png) 96% center no-repeat #fff; border:1px solid #999; box-shadow: none; color: #000; padding: 5px; font-size: 12px; border-radius: 5px; width:100px; margin-bottom:0; -webkit-appearance: none; -moz-appearance: none;}
.insights-content-box{padding:20px; }
.insight-green-box .insight-heading{background:#062508; margin:0; padding:10px 15px; color:#fff; font-size:16px; font-weight: bold; border-radius: 0; border-bottom:1px solid #29f887;}
.insight-blue-box .insight-heading{background:#081425; margin:0; padding:10px 15px; color:#fff; font-size:16px; font-weight: bold; border-radius: 0; border-bottom:1px solid #2981f9;}
.insight-yellow-box .insight-heading{background:#242509; margin:0; padding:10px 15px; color:#fff; font-size:16px; font-weight: bold; border-radius: 0; border-bottom:1px solid #fdf837;}
.insight-content{padding:10px; background:#222;}
.insight-content ul{margin:0; padding:0;}
.insight-content ul li{list-style:none; color:#fff; font-size:16px;}
.insight-content ul li input{margin-right:5px;}
.insights-footer{position:absolute; bottom:0; background: #3a3e44; width:100%; padding:10px;}
.insights-footer a{display:inline-block; color:#fff; font-size:14px; text-transform: uppercase; border-radius: 5px; border:1px solid #fff; padding:10px; margin-right:10px;}